.comment-section {
width: 600px;
margin: 5px;
}

.comment-section p{
    letter-spacing: 0.5px;
    font-size: 15px;

}

.input {
    width: 580px;
    height: 50px;
    border: none;
    border-top: 1px solid gray;
    
}